version: 2.1
jobs:
  build:
    docker:
      - image: hashicorp/terraform:0.11.14
    parameters:
      tfvarsfile:
        type: string
        default: notspecified
    environment:
      - TF_VAR_aws_region: eu-west-1
      - tfstatebucket: circlecitfstate
      - tfstatedir: circledeployments
      - tfstateregion: us-east-2
    steps:
      - checkout
      - run:
          name: Relevant env vars
          command: |
            echo "$CIRCLE_PROJECT_REPONAME"
            echo "$CIRCLE_PROJECT_USERNAME"
            echo "CIRCLE_PULL_REQUEST $CIRCLE_PULL_REQUEST"
            echo "CIRCLE_PULL_REQUESTS $CIRCLE_PULL_REQUESTS"
            echo "CIRCLE_REPOSITORY_URL $CIRCLE_REPOSITORY_URL"
            echo "CIRCLE_USERNAME $CIRCLE_USERNAME"
            echo "CIRCLE_COMPARE_URL $CIRCLE_COMPARE_URL"
            echo "CIRCLE_BUILD_URL $CIRCLE_BUILD_URL"
            echo "CIRCLE_PR_USERNAME $CIRCLE_PR_USERNAME"
            export
      - run:
          name: Make backend for << parameters.tfvarsfile >>
          command: |
            cat \<<EOF > backend_override.tf
              terraform {
                  backend "s3" {
                    bucket = "${tfstatebucket}"
                    key    = "${tfstatedir}/${CIRCLE_BUILD_NUM}-<< parameters.tfvarsfile >>.tfstate"
                    region = "${tfstateregion}"
                  }
                }
            EOF
      - run: echo terraform init
      - run:
          name: terraform plan
          command: echo terraform plan -var-file=<< parameters.tfvarsfile >> -out=mybuild
      - run:
          name: terraform apply
          command: echo terraform apply "mybuild"
      - run:
          name: terraform destroy
          command: echo terraform destroy -force
          when: always
workflows:
  workflow:
    jobs:
      - build:
          tfvarsfile: terraform-icp-ce-example.tfvars
      - build:
          requires:
            - build
          tfvarsfile: terraform-icp-ce-example.tfvars
      # Repeated as many times as there are configurations...
